@import url('"https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.gif');
    background-size: 100vh;
}
    /* content start */
.content {
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    width: 80%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.content::before {
    content: "";
    position: absolute;
    background-color: #014f86;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0%;
}   
    /* content end */
    /* first content start */
    .first-content {
        display: flex;
    }
    .first-content .second-column {
        z-index: 11;
    }
    .first-column {
        text-align: center;
        width: 40%;
        z-index: 1;
    }
    .second-column{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* first content end */
    /* title start */
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0;
}
.title-primary {
    color: rgb(245, 245, 245);
}
.title-second {
    color: #014f86;
}
.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: rgb(245, 245, 245);
    margin: 5px;
}
.description-second {
    color: #7f8c8d;
    margin: 0;
}
    /* title end */
    /* btn start */
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid rgb(245, 245, 245);
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: rgb(245, 245, 245);
    color: #014f86;
}
.btn-second {
    background-color: #014f86;
    border: 1px solid #014f86;
    transition: background-color .5s;
    margin-top: 10px;
}
.btn-second:hover {
    background-color: transparent;
    border: 1px solid #014f86;
    color: #014f86;
}
/* btn end */
/* social media start */
.social-media {
    margin: 1rem 0;
}
.list-social-media {
    list-style-type: none;
    display: flex;
    padding: 0px;
}
.item-social-media a i {
    color: #7f8c8d;
    border: 1px solid #7f8c8d;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: center;
    transition: background-color .8s;
}
.item-social-media:not(:first-child) {
    margin-left: 5px;
}
.item-social-media a i:hover {
    color: #f0efeb;
    border: none;
    background-color: #014f86;
    border: 1px solid #014f86;
}
.list-social-media {
    display: flex;
}
/* Social media end */
/* Input Start */
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    border: none;
    height: 45px;
    background-color: #d3e1eb;
    width: 100%;
    outline: none;
    border: none;
}
.label-input {
    background-color: #d3e1eb;
    display: flex;
    align-items: center;
    margin: 8px;
}
.label-input:focus-within {
    border: 1.5px solid;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 15px;
}
/* Input End */
/* Second Content*/
.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
   text-align: center;
   color: #7f8c8d;
   font-size: 14px;
   margin: 15px 0;
}
.password::first-letter {
    text-transform: capitalize;
}
/* second content end*/
/* sign in js start */
.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: -1;
}
.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}
.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1s;
    z-index: 12;
}
/* sign in js end */
/* sign up js start */
.sign-up-js .content::before {
    animation: slideup 1s;
    z-index: 11;
}
.sign-up-js .secont-content .first-column,
.sign-up-js .secont-content .second-column {
    z-index: -1;
}
.sign-up-js .first-content .second-column {
    z-index: 11;
}
.sign-up-js .first-content .first-column {
    z-index: 13;
}
/* Animation CSS */
@keyframes slidein {
    from {
        left: 0%;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;

    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideup {
    from {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;

    }
    50% {
        left: 25%;
        width: 60%;
    }
    75% {
        left: 5%;
        width: 50%;
    }
    to {
        left: 0%;
        width: 40%;
    }
}